<form [formGroup]="createForm" (ngSubmit)="createSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Création d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="firstname">Firstname : </label>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Firstname" value="firstname" id="firstname" type="text" formControlName="firstname">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">Lastname : </label>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Lastname" value="lastname" id="lastname" type="text" formControlName="lastname">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><button mat-raised-button color="primary" class="button" type="submit">Enregistrer</button>
            </td>
        </tr>
    </table>
</form>