<form>
    <table>
        <tr>
            <td colspan="2">
                <h5>Création d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Firstname : </label>
            </td>

            <td>
                <input type="" class="form-control" id="" aria-describedby="" placeholder="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Lastname : </label>
            </td>

            <td>
                <input type="" class="form-control" id="" aria-describedby="" placeholder="">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><input type="submit" class="button" value="Créer">
            </td>
        </tr>
    </table>
</form>