<form [formGroup]="createForm" (ngSubmit)="createSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Création d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="firstname">Firstname : </label>
            </td>

            <td>
                <input id="firstname" type="text" formControlName="firstname" class='form-control'>
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">Lastname : </label>
            </td>

            <td>
                <input id="lastname" type="text" formControlName="lastname" class='form-control'>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><input class="button" type="submit" value="Enregistrer">
            </td>
        </tr>
    </table>
</form>