<form [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Mise à jour d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="user">Utilisateur : </label>
            </td>

            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Utilisateur</mat-label>
                    <mat-select id="id" formControlName="id"  name="user">
                      <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.firstname}} - {{ user.lastname }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <!--<select class="form-control" id="id" formControlName="id">
                    <option *ngFor="let user of users" value={{user.id}}>{{user.firstname}} - {{ user.lastname }}</option>
                </select>-->
            </td>
        </tr>
        <tr>
            <td>
                <label for="firstname">Firstname : </label>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Firstname" value="firstname" id="firstname" type="text" formControlName="firstname">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">Lastname : </label>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Lastname" value="lastname" id="lastname" type="text" formControlName="lastname">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><button mat-raised-button color="primary" type="submit" class="button">Mise à jour</button>
            </td>
        </tr>
    </table>
</form>