<form [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Mise à jour d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="user">Utilisateur : </label>
            </td>

            <td>
                <!--<select class="form-control" id="id" formControlName="id">
                    <option *ngFor="let user of users" value={{user.id}}>{{user.firstname}} - {{ user.lastname }}</option>
                </select>-->
                <input id="id" type="text" formControlName="id" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label for="firstname">Firstname : </label>
            </td>

            <td>
                <input id="firstname" type="text" class="form-control" formControlName="firstname">
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">Lastname : </label>
            </td>

            <td>
                <input id="lastname" type="text" class="form-control" formControlName="lastname">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><button type="submit" class="button">Mise à jour</button>
            </td>
        </tr>
    </table>
</form>