
.table_af {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.table_af td, .table_af th {
    border: 1px solid #f3f3f3;
    padding: 8px;
}
  
.table_af tr:nth-child(even){
    background-color: #f4f4f4;
}
  
.table_af tr:hover {
    background-color: #dddddd;
}
  
.table_af th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4054b4;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

