<form [formGroup]="delForm" (ngSubmit)="delSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Suppression d'un utilisateur</h5>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Utilisateur : </label>
            </td>

            <td>
                <select class="form-control" formControlName="id" name="user-select" id="user-select" >
                    <option *ngFor="let user of users" value={{user.id}}>{{user.firstname}} - {{ user.lastname }}</option>
                </select>
                <!--<input id="id" type="text" formControlName="id">-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br><input class="button" type="submit" value="Supprimer">
            </td>
        </tr>
    </table>
</form>