<form [formGroup]="delForm" (ngSubmit)="delSubmit()">
    <table>
        <tr>
            <td colspan="2">
                <h5>Suppression d'un utilisateur</h5>
            </td>
        </tr>
        <tr>

            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Utilisateur</mat-label>
                    <mat-select id="id" formControlName="id"  name="user">
                      <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.firstname}} - {{ user.lastname }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <!--<select class="form-control" formControlName="id" name="id" id="id" >
                    <option *ngFor="let user of users" value={{user.id}}>{{user.firstname}} - {{ user.lastname }}</option>
                </select>-->
                <!--<input id="id" type="text" formControlName="id">-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button mat-raised-button color="primary" class="button" type="submit">Supprimer</button>
            </td>
        </tr>
    </table>
</form>